body { font-family: 'Roboto', sans-serif; width: 1024px; margin: auto; overflow-y: scroll }
body li.code { font-family: 'Overpass Mono', monospace }
li.text { display: none }

li.text, li.title {
    list-style: none;
}

li.title:before {
    content: "+";
    margin-right: 4px;
}

li { margin-bottom: 10px }
ul { margin-top: 10px }
